.login-container {
  background-color: #adccf1;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding-left: 20px; /* Add padding to move the login box to the right */
}

.login-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-right: 20px;
}

.login-heading {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: black; /* Change heading text color to black */
}

.login-subheading {
  text-align: center;
  margin-bottom: 20px;
  color: #888;
  font-size: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-msg {
  color: red;
  font-size: 0.9em;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 5px;
}

.login-btn, .create-account-btn {
  background-color: #004080;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.login-btn:hover, .create-account-btn:hover {
  background-color: #003366;
}

.forgot-password {
  color: #004080;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.social-login {
  text-align: center;
}

.social-icons a {
  margin: 0 5px;
  display: inline-block;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.login-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
